<!doctype html>
<html lang="en">
  <head>
    <title>Aman Video blog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Fenix' rel='stylesheet'>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body{
            font-family: 'Fenix';
        }
        .btn{
            
            border-radius: 50px;
            font-weight: bold;
            color: white;
            
            
        }
        .btn:hover{            
            background-color: red;
            color: white;          

        }
        .icon-css:hover{
           color: #268cdf;
        }
        a{
            color: #B3001F;
        }
        .space{
          margin-left: 30px;
        }

    @media (min-width: 1080px) {
      .crd {
        margin-left: 50px;
      }
     
    }
    @media (max-width: 480px) {
      h4{
          font-size: small;
      }
      .bio{
          padding: 20px;
      }
      .c{
          font-size: 30px;
          font-weight: bold;
          color: #B3001F;
      }
    }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="http://localhost:3000/"><i class="fa fa-home" aria-hidden="true" style="font-size: 40px"></i> Home</a> 
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <input type="search" class="form-control" placeholder="search...." style="border-radius: 20px">
                <button type="submit" class="bg-dark"><i class="fa fa-search text-white" aria-hidden="true"></i></button>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <i class="fa fa-user-circle-o text-white" aria-hidden="true" style="font-size: 30px"></i>
                <a  href="http://localhost:3000/login" type="button" class="btn my-2 my-sm-0">Login</a>
                <a href="http://localhost:3000/signUp" type="button" class="btn my-2 my-sm-0">Sign Up</a>
            </form>
        </div>
    </nav>


    <!-- <div class="container-fluid my-3 p-4">
          <div class="row">
              <div class="col-xl-8 col-12 ">
                <div class="card text-left shadow crd">
                    <img class="card-img-top" src="https://classroom-training-bucket.s3.ap-south-1.amazonaws.com/abc/Fortnite-Chapter-2-4k-Ultra-HD-Wallpaper.jpg">
                    <div class="card-body">
                      <h2 class="card-title">Basic Concepts of Node.js</h2>
                      <h4 class="card-text" style="color: gray">Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</h4>
                    </div>
                  </div><br><br>
              </div> -->


           

             


              <div class="container-fluid p-3">
                <div class="row">
                  <div class="col-xl-3 col-12 my-2">
                    <div class="card border-0 shadow">
                      <video controls class="videoplay">
                        <source  class="card-img-top" src="https://player.vimeo.com/external/269346850.sd.mp4?s=0e47d6bbc49002405ce702e19f57597b18611a96&profile_id=164&oauth2_token_id=57447761">
                      </video>
                      
                    </div>
                  </div>
                  <div class="col-xl-3 col-12 my-2">
                    <div class="card border-0 shadow">
                      <video controls class="videoplay">
                        <source  class="card-img-top" src="https://player.vimeo.com/external/372334720.sd.mp4?s=3b94e2d48b5844adcda82889e4809589de5d9172&profile_id=164&oauth2_token_id=57447761">
                      </video>
                      
                    </div>
                  </div>
                  <div class="col-xl-3 col-12 my-2">
                    <div class="card border-0 shadow">
                      <video controls class="videoplay">
                        <source  class="card-img-top" src="https://player.vimeo.com/external/359429660.sd.mp4?s=e7aab1d6391a7b3f8af9ff3f4b9434a00c5ac63b&profile_id=164&oauth2_token_id=57447761">
                      </video>
                      
                    </div>
                  </div>
                  <div class="col-xl-3 col-12 my-2">
                    <div class="card border-0 shadow">
                      <video controls class="videoplay">
                        <source  class="card-img-top" src="https://player.vimeo.com/external/381722739.sd.mp4?s=69dc811e135bfff8291469c354828ce173368605&profile_id=164&oauth2_token_id=57447761">
                      </video>
                      
                    </div>
                  </div>

                </div>
              </div>



              <div class="container-fluid p-3">
                <div class="row">
                  <div class="col-xl-3 col-12 my-3">
                    <div class="card border-0 shadow">
                      <video controls class="videoplay">
                        <source  class="card-img-top" src="https://player.vimeo.com/external/314181352.sd.mp4?s=d2cd7a37f6250cd543e6d13209730b4bcf242130&profile_id=164&oauth2_token_id=57447761">
                      </video>
                      
                    </div>
                  </div>
                  <div class="col-xl-3 col-12 my-2">
                    <div class="card border-0 shadow">
                      <video controls class="videoplay">
                        <source  class="card-img-top" src="https://player.vimeo.com/external/369267327.sd.mp4?s=c1ade922dd3bdf63fe5cb96d5af3d2a7ff0bbf58&profile_id=164&oauth2_token_id=57447761">
                      </video>
                      
                    </div>
                  </div>
                  <div class="col-xl-3 col-12 my-2">
                    <div class="card border-0 shadow">
                      <video controls class="videoplay">
                        <source  class="card-img-top" src="https://player.vimeo.com/external/178163449.sd.mp4?s=e9d33063f5b5706ca5cfdba4e17fe110a9fc0e3e&profile_id=164&oauth2_token_id=57447761">
                      </video>
                      
                    </div>
                  </div>
                  <div class="col-xl-3 col-12 my-2">
                    <div class="card border-0 shadow">
                      <video controls class="videoplay">
                        <source  class="card-img-top" src="https://player.vimeo.com/external/261135351.sd.mp4?s=741cf6e2a3f64076272a73942b5fe9d9e8095b8a&profile_id=164&oauth2_token_id=57447761">
                      </video>
                      
                    </div>
                  </div>

                </div>
              </div>


              <div class="container-fluid p-3">
                <div class="row">
                  <div class="col-xl-3 col-12 my-2">
                    <div class="card border-0 shadow">
                      <video controls class="videoplay">
                        <source  class="card-img-top" src="https://player.vimeo.com/external/269346850.sd.mp4?s=0e47d6bbc49002405ce702e19f57597b18611a96&profile_id=164&oauth2_token_id=57447761">
                      </video>
                      
                    </div>
                  </div>
                  <div class="col-xl-3 col-12 my-2">
                    <div class="card border-0 shadow">
                      <video controls class="videoplay">
                        <source  class="card-img-top" src="https://player.vimeo.com/external/372334720.sd.mp4?s=3b94e2d48b5844adcda82889e4809589de5d9172&profile_id=164&oauth2_token_id=57447761">
                      </video>
                      
                    </div>
                  </div>
                  <div class="col-xl-3 col-12 my-2">
                    <div class="card border-0 shadow">
                      <video controls class="videoplay">
                        <source  class="card-img-top" src="https://player.vimeo.com/external/359429660.sd.mp4?s=e7aab1d6391a7b3f8af9ff3f4b9434a00c5ac63b&profile_id=164&oauth2_token_id=57447761">
                      </video>
                      
                    </div>
                  </div>
                  <div class="col-xl-3 col-12 my-2">
                    <div class="card border-0 shadow">
                      <video controls class="videoplay">
                        <source  class="card-img-top" src="https://player.vimeo.com/external/381722739.sd.mp4?s=69dc811e135bfff8291469c354828ce173368605&profile_id=164&oauth2_token_id=57447761">
                      </video>
                      
                    </div>
                  </div>

                </div>
              </div>



              <div class="container-fluid p-3">
                <div class="row">
                  <% details.forEach(function(item){ %>
                  <div class="col-xl-3 col-12 my-2">
                    <div class="card border-0 shadow">
                      <video controls class="videoplay">
                        <source  class="card-img-top" src="<%= item.img %>">
                      </video>
                      
                    </div>
                  </div>
                  <% }) %>
              

            
<!--------------------------------- footer end -->


    <script>


    //For Multiple Video Code
    let myvideo = document.querySelectorAll(".videoplay");

    for (var i = 0; i < myvideo.length; i++) {
        myvideo[i].addEventListener("mouseover", function() {
            this.play();
        })
        myvideo[i].addEventListener("mouseleave", function() {
            this.pause();
        })
    }

    //First will do with single video 
   // This code will play for first video only. now will do code for multiple videos
    // document.querySele
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>